* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bg-color: white;
    --border-color-1: black;
    --border-color-2: gray;
    --shadow-color: rgb(98, 115, 164);
    --font-color: black;
    --inner-font-color: white;
    --service-color: rgb(50, 87, 198);
    --service-gradient: rgb(207, 217, 255);
    --input-bg-color: transparent;
}

.root {
    padding: 40px;
    width: 100%;
    max-width: 1280px;
    height: max-content;
    margin: auto;
    background-color: var(--bg-color);
}

.root>section {
    width: 100%;
    padding: 30px 20px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color-1);
    padding: 60px 20px !important;
}

.intro>div {
    width: max-content;
}

.intro h1 {
    font-size: 3em;
}

.intro p {
    font-size: 1.2em;
}


.qualifications>div {
    margin: 50px 0;
    width: 100%;
    height: max-content;
}


.services>.content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px 0;
}

.qualifications>div h2 {
    font-size: 1.8em;
}

.services>.content div {
    width: 300px;
    height: 120px;
    background-color: var(--service-color);
    color: var(--inner-font-color);
    background-image: linear-gradient(to top, var(--service-gradient) 0%, transparent 40%);
    border-radius: 7px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500;
    animation: appear 0.6s ease-in-out 0.5s 1 normal forwards;
    transform: translateY(30px);
    opacity: 0;
}

@keyframes appear {
    from {
        transform: translateY(30px);
        opacity: 0;
        
    } to {
        transform: translateY(0px);
        opacity: 1;
        
    }
}

.skills>div span {
    font-size: 1.2em;
    font-weight: 500;
}

.skills>div {
    width: 100%;
    max-width: 900px;
    display: flex;
}
.skills>div>div {
    width: 50%;
    height: 300px;
    position: relative;
    perspective: 400px;
}

.skills>div>div span {
    position: absolute;
    translate: -50% -50%;
    transform-style: preserve-3d;
    transition: 0.3s;
}

.skills>div>div .hover {
   transform: translateZ(0px) !important;
}

.projects>div {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 20px;
}

.project {
    width: calc(33% - 40px);
    min-width: 280px;
    height: max-content;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    color: var(--font-color);
}
.project .img {
    width: 100%;
    border-bottom: 1px solid var(--border-color-1);
}
.project .img>img {
    width: 100%;
    height: auto;
    display: block;
}

.project>div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 500;
}

.project a {
    color: var(--font-color);
    width: max-content;
}

.contact>div h2 {
    font-size: 1.8em;
}

.links>div {
    padding: 10px;
}

.links>div ul {
    list-style: none;
}

.links>div ul>li {
    font-size: 1.3em;
    margin: 10px 0;
    font-weight: 500;
    color: var(--font-color);
}

.links>div a {
    color: var(--font-color);
}

.message {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    column-gap: 80px;
}

.message form>input,
.message form>textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--input-bg-color);
    color: var(--font-color);
}

.message form>input {
    display: block;
    width: 280px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--border-color-2);
    padding: 0 5px;
    font-size: 1em;
    margin: 5px 0;
    font-weight: 500;
    outline: none;
}

.message form>textarea {
    width: 280px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    margin: 5px 0;
    font-weight: 500;
    height: 150px;
    outline: none;
}

.message form>input[type=submit] {
    width: max-content;
    padding: 0 20px;
    cursor: pointer;
}

.message>div:nth-child(2) {
    height: max-content;
    transform: translateY(100%);
}

@media screen and (max-width: 1024px) {
    .services>.content div {
        width: 250px;
    }
}

@media screen and (max-width: 912px) {
    .message {
        flex-direction: column-reverse;
    }

    .message>div:nth-child(2) {
        transform: translateY(0%);
        margin: 20px 0;
    }
}