* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    color: white;
    background-image: linear-gradient(to bottom, 
        #001531 20px, 
        #015d86 350px
    );
    padding: 0 80px;
    padding-bottom: 50px;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: #015d86;
    border-radius: 999px;
}

h2 {
    font-size: 2.1em;
    font-weight: 500;
}

h3 {
    font-size: 1.9em;
    font-weight: 500;
}

.container {
    width: 100%;
    height: max-content;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
}
.welcome {
    font-size: 5em;
    width: min-content;
    text-align: end;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s ease-out;
    transition-delay: 0.5s;
}

.not-welcome {
    font-size: 5em;
    opacity: 0;
    transform: translateX(-70%);
}

.main {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;

}

.main p {
    margin-top: 240px;
    font-size: 1.8em;    
    width: 100%;
    transition: 0.4s ease-out;
    transition-delay: 0.15s;
}

.left {
    align-self: flex-start;
}
.right {
    align-self: flex-end;
}

.left-hide {
    opacity: 0;
    transform: translateX(-50px);
}
.right-hide {
    opacity: 0;
    transform: translateX(50px);
}



ul {
    padding: 10px 20px;
    list-style: none;
}

body>div>div {
    margin: 20px;
}



.skills {
    margin-top: 250px;
}

.skills ul li {
    font-size: 1.5em;
    margin: 15px;
    line-height: 1.35;
}
.skills ul li::before {
    content: '-';
    margin-right: 5px;
}



.projects {
    margin-top: 200px;
}

.projects ul {
    display: flex;
    flex-wrap: wrap;
}
.projects ul li {
    width: 180px;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px #001531, 
    0px -1px 5px 0px #001531;
}


#frontend-portfolio a::after {content: 'frontend portfolio';}
#steelmind a::after {content: 'mental health organization';}
#chat a::after {content: 'chat app using ChatGPT API';}
#translate a::after {content: 'AI powered translator';}
#fate a::after {content: 'fate series page using TailwindCSS';}
#landing-page a::after {content: 'landing page portfolio';}
#web-scraping a::after {content: 'web scraping project with django';}
#scentchan a::after {content: 'perfumes ecommerce project';}
#name a::after {content: 'simple social media app'};


.projects li a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.projects li a img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects ul a::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #001531d1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    transition: 0.3s ease-out;
    opacity: 0;
}
.projects ul li:hover a::after {
    opacity: 1 !important;
}

.contact {
    margin-top: 200px;
}

.contact ul li {
    margin: 10px;
    font-size: 1.5em;
}

.contact a {
    color: white;
}

@media screen and (min-width: 912px) {
    .main p {
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .projects ul {
        justify-content: space-evenly;
    }
    /* .projects ul li {
        margin: 10px;
    } */
}

@media screen and (max-width: 600px) {
    body {
        padding: 0 20px;
    }
    body>div {
        margin-left: auto;
        margin-right: auto;
    }

    .welcome {
        font-size: 4.5em;
    }

    .main p {
        font-size: 1.7em;
    }

    p, h2, h3, h4 {
        width: auto;
    }


    .projects ul li {
        width: 100%;
        height: 200px;
    }

    ul li {
        font-size: 1.4em;
    }
}


@media screen and (max-width: 401px) {
    

    
}