<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="root">
        <section class="intro"> 
            <h1>Welcome</h1>
            <br>
            <p>
                I'm Saif, and I'm working as a web developer, 
                I have experties in building full-stack web 
                applications.
            </p>
        </section>
        <section class="qualifications">
            <div class="services">

            </div>
            <div class="skills">

            </div>
            <div class="projects">

            </div>
        </section>
        <section class="contact">
            <div class="links">

            </div>
            <div class="message">

            </div>
        </section>
    </div>
</body>
</html>